html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#userHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}

#menu{
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#topBar{
  display: inline;

}
#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 10px;
}
#activos {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}
#target{
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
}
#Coordenadas{
  width: 200px; 
}
#modelosFederar{
  font-size: 10px;
}
#modelosFederar,
.btn{
  font-size: 10px;
  margin-inline-end: 10px;
  padding: 3px 6px;
}
ul#modelosFederar{
  width:100%;
  margin:5px 0 5px 0;
  overflow-y:auto;
  text-align:justify; /*Added this*/
}

ul#modelosFederar li{
  letter-spacing:.05em;
  /*Now inline blocks instead of blocks floated left*/
  display:inline-block; 
  font:10px arial;
  padding:7px 26px;
  background:#fff;
  border-left:2px solid #0a93cd;
  border:2px solid #0a93cd;
  border-radius:8px;
  text-align:center;
  width: 100%;
}
.ArchivosFederar{
  height: 10%;
}